/lv.rigacoding.day3/nbproject/private/
/lv.rigacoding.day3/build/
/lv.rigacoding.day4/nbproject/private/
/lv.rigacoding.day4/build/
/lv.rigacoding.day5/nbproject/private/
/lv.rigacoding.day5/build/
/lv.rigacoding.day5/dist/
/lv.rigacoding.day6/nbproject/private/
/lv.rigacoding.day6/build/
/lv.rigacoding.majasdarbs/nbproject/private/
/lv.rigacoding.majasdarbs/build/
/Blackjack/build/
/lv.rigacoding.day7/nbproject/private/
/lv.rigacoding.day7/build/
/lv.rigacoding.day8/nbproject/private/
/lv.rigacoding.day8/build/
/lv.rigacoding.praktiskais/nbproject/private/
/lv.rigacoding.praktiskais/build/
/lv.rigacoding.hangman/nbproject/private/
/lv.rigacoding.hangman/build/